*{
    box-sizing: border-box;
}

body{
    background-color: #F3F3F3;
    font-family: 'Roboto', sans-serif;
}
.top{
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #FFFFFF;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}
.top ion-icon{
    font-size: 40px;
}
.footer{
    width: 100%;
    height: 80px;
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: #FFFFFF;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}
.footer ion-icon{
    font-size: 26px;
}
.footer input{
    border: none;
    height: 20px;
    width: 70%;
    height: 30px;
    font-size: 14px;
    font-weight: 400;
}
.footer input::placeholder{
    font-style: italic;
    font-weight: 400;
    font-size: 18px;
    color: #000000;
}

.message-box{
    background-color: #FFFFFF;
    width: 100%;
    margin: 3px 0;
    padding: 15px 10px;
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    line-height: 20px;
}
.message-box:first-child{
    margin-top: 100px;
}
.message-box:last-child{
    margin-bottom: 90px;
}
.message-box .sender, .receiver{
    font-weight: 700;
}
.message-box .time{
    color: #AAAAAA;
}
.status{
    background-color: #DCDCDC;
}
.private_message{
    background-color: #FFDEDE;
}
.loading{
    width: 100px;
    height: 100px;
    position: fixed;
    top: 100px;
    left: calc(50% - 50px);
}
.loading img{
    
    width: 100%;
    height: 100%;
}


.blurry{
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgb(0,0,0,0.6);
    z-index: 2;
    display: flex;
}
.nothing{
    width: 30%;
    height: 100%;
}
.sidemenu{
    background-color: #FFFFFF;
    width: 70%;
    height: 100%;
    
 }
 .sidemenu .title{
    width: 100%;
    padding: 20px 0;
    text-align: center;
    display: flex;
    justify-content: center;
    
 }
 .sidemenu .title div{
    width: 70%;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
 }
.sidemenu .participants .participant{
    height: 20px;
    margin-bottom: 5px;
    padding: 0 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
 }

.sidemenu .participants .participant  .profile{
    display: flex;
    align-items: center;
}
.sidemenu .participants .participant ion-icon{
    font-size: 21px;
    padding: 0 8px;
}
.sidemenu .visibility{
    width: 100%;
    margin-bottom: 5px;
    padding: 0 5px;
    display: flex;
    justify-content: space-between;
    
}
.sidemenu .visibility ion-icon{
    font-size: 21px;
    padding: 0 8px;
}
ion-icon[name="checkmark-outline"]{
    font-size: 12px;
    color: #28BB25;
}
.hidden{
    display: none;
}